/*Primary Color*/
:root {
  --primary-color: #000000;
  --secondary-color: #fcfcfc;
  --tertiary-color: #f6f930;
  --quaternary-color: #f47d23;
  --quinary-color: #2f2f2f;
}

@font-face {
  font-family: "RubikBubbles";
  src: url("fonts/RubikBubbles.ttf");
}

#title {
  font-family: "RubikBubbles";
  font-size: 80px;
  color: var(--tertiary-color);
  text-shadow: 2px 2px 1px var(--quaternary-color);
  margin-bottom: 150px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* username und passwortfeld */

#usernametxt,
#passwordtxt {
  font-size: 30px;
  color: var(--tertiary-color);
  text-shadow: 2px 2px 1px var(--quinary-color);
  margin: 10px;
}

#password,
#username {
  font-size: 35px;
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  transition: 500ms;
  text-align: center;
}

#password:focus,
#username:focus {
  border-radius: 50px;
  border: 2px solid var(--secondary-color);
}

#password:hover,
#username:hover {
  border-radius: 50px;
  border: 2px solid var(--quaternary-color);
}

/* Login Button */

#login-button {
  font-weight: bolder;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--quaternary-color);
  border-radius: 5px;
  font-size: 30px;
  margin-top: 10px;
  transition: 60ms;
  margin-bottom: 10px;
}

#login-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--quaternary-color);
}

#login-button:active {
  transform: scale(0.99);
  box-shadow: 0 0 15px var(--quaternary-color);
}

#pricing {
  margin: auto;
  width: 50%;
  padding: 10px;
  border: var(--secondary-color);
  border-radius: 15px;
  border-style: solid;
}

#price_table {
  margin: auto;
}

.headprices {
  font-size: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.prices {
  font-size: 20px;
  padding-left: 5px;
  padding: 5px;
}

#legalbtn,
#aboutusbtn {
  margin-top: 5px;
}
